

.header-home-page{
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    z-index: 20;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.116);
    backdrop-filter: blur(8px);
}

.brand{
    color: $brand_color;
}

.header-nav-container--flex{
    @include flex(row,center,center,20px);
}


.header-nav-item--active{
    border-bottom: 2px solid $brand-color;
    padding: 2px;
}