.body-page-login{
   width: 100vw;
   height: 100vh;
}

.login-container{
  
  width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
 height: 100%;

}


.text-login-title-section{
    width: 100%;
    padding-top: 20px;

    figure{
         
          font-size: calc(17px + 0.7vw);
    }
}

.login-section{
    
    width: 100%;
    @include flex(column,center,center,10px);
    flex-wrap: wrap;

    figure{
        @include flex(column,center,center,30px);
        color: aliceblue;
        letter-spacing: 1.25px;

           
    }

    
}



.brand-title{
    color: lighten($brand-color,10);
    letter-spacing: 10px;
}


figcaption.brand-caption{
        
        border-bottom: 2px solid $brand-color;
        padding-bottom: 10px;
       

}


.login-form-title{
    font-size: calc(15px + 1vw);
    color: aliceblue;
   
}



#form-login{

    border:  1px solid white;
    padding: 20px;
    background-color: rgba(128, 7, 77, 0.342);
    @include flex(column,center,center,5px);
    border-radius: 18px;
    


        input{
            min-width: 250px;
            height: 35px;
            border-radius: 8px;
            margin-bottom: 18px;

                &.input-submit-login{
                    min-width: 220px;
                    background-color: $brand-color;
                    color: aliceblue;
                    font-weight: 900;
                }
        }




    input:not(.input-submit-login){
        text-indent: 10px;
    }


    p.text-redirect-to-login{
        font-size: 1.5em;
        color: aliceblue;
        
        a{
            color:#ffd104;
            text-decoration: underline;
            
        }
    }


    label{
        text-align: center;
        color: red;
        display: none;

            &.inputError{
                display: block;
            }
    }
}

.help-login-btn{
    background-color: rgba(100, 148, 237, 0.219);
    position: absolute;
     right: 20px;
     top: 20px;
     padding: 5px; 
     border: 1px solid rgba(255, 255, 255, 0.5);
     border-radius: 8px;
     color: aliceblue;
     cursor: pointer;
}



.help-page-section{
  
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: linear-gradient(4deg,rgb(51, 177, 246),rgb(114, 30, 86)) no-repeat fixed;
    display: none;
        &.toggle-visibility{
            display: block;
        }
}

.help-inner{
    width: 100vw;
    height: 100vh;
    
}

.help-header{
    padding: 15px 15px;
}


.close-help-button{

    float: right;
    font-size: 25px;
    padding: 5px 10px;
    margin-right: 5px;
    appearance: none;
    border-radius: 4px;
    color: aliceblue;
    background-color: $brand-color;
    border: 0;
    font-weight: 600;
    cursor: pointer;

    &:active{
        background-color: #580433;
    }
}


.help-title{

    letter-spacing: 10px;
    font-size: 30px;
    color: aliceblue;
    float: left;
    font-weight: 900;
}


.help-list-title{
text-align: center;
color: rgba(240, 248, 255, 0.568);
clear: both;
padding-top: 50px;
}


.help-list{
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    align-items: center;
    justify-content: center;

        li{
            width: 240px;
            height: 40px;

                button{
                    appearance: none;
                    border-radius: 18px;
                    width: 100%;
                    height: 100%;
                    text-transform: uppercase;
                    background: linear-gradient(40deg,rgba(51, 178, 246, 0.151),rgba(161, 23, 99, 0.575)) no-repeat;
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    border: 1px solid rgb(255, 255, 255);
                    cursor: pointer;

                    &:active{
                        background-color: #ff048e;
                    }
                }
        }
}


footer.help-footer{
    position: absolute;
    bottom: 2px;
    left: 10px;
}