main{

    &.toggle-menu{
        display: none;
    }
}


.main-requests{
    width: 100vw;
    margin: auto;
    padding-top: 50px;
    z-index: 0;
}

.request-list{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: fit-content;

    
   

            &::-webkit-scrollbar{
                display: none;
            }
   
}