.notification-section{
    position: fixed;
    background-color: #070707;
    top: 0;
    right: 0;
    width: 350px;
    max-height:  100vh;
    overflow-x: hidden;
  
}

.notification-title{
    color: aliceblue;
    padding: 18px;   
    float: left;
    font-size: large;
    
}


.notification-close-btn{
    color: aliceblue;
    text-align: end;
    padding-right: 20px;
    float: right;
    margin-top: 13px;
    cursor: pointer;
}

.notification-container{
    
    height: fit-content;
    margin-top: 60px;
}


.notification-inner{
   
    height: fit-content;
}

figure.notification-card {
    color: aliceblue;
    @include flex(row,center,space-between,none);
    border-top: 2px solid white;
    padding-top: 18px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.notification-first-letter{
border-radius: 50%;
flex-shrink: 0;
border: 2px solid $brand-color;
width: 30px;
height: 30px;
@include flex(row,center,center,none);
}

figcaption.notification-body{
   padding: 0 10px;
   text-align: center;
}

.delete-notification{
    width: 30px;
    height: 30px;
    @include flex(row,center,center,none);
    background-color: rgb(172, 34, 34);
    border-radius: 8px;
    font-weight: 900;
    font-style: normal;
    cursor: pointer;
    
}