*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
   
    background-color: $first_surface;
    background-image: url(/images/icons/pexels-bruno-thethe-1910236\ \(1\).png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.body-page{
width: 100vw;
min-height: 100vh;
overflow-x: hidden;

    
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: aliceblue;
}

