.request-item{
    max-width: 300px;
    background-color: rgba(4, 4, 4, 0.234);
    backdrop-filter: blur(50px);
    border-radius: 16px;
    margin-top: 40px;
    flex-shrink: 0;
    min-width: 280px;
    margin-bottom: 20px;
    z-index: 0;

        &.toggleLockCard{
            box-shadow: 0 0 10px $lock_card-color;
        }
    
}

article.request-card-container{
    width: 85%;
    border-radius: 16px;
    margin: auto;
    color: whitesmoke;
   
}

.card-header{
align-items: center;
margin-bottom: 20px;
padding: 10px;
}



.card-first-letter{
    border: 2px solid $brand_color;
    width: 40px;
    height: 40px;
    @include flex(row,center,center,none);
    font-size: 20px;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: $first_surface ;
    text-transform: uppercase;
}



.card-username{
    font-size: 1.2em;
    text-align: center;
    width: 100%;
    text-transform: capitalize;
}

.delete-icon{
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    @include flex(row,center,center,none);
    font-size: 3em;
    cursor: pointer;
    color:red;
    background-clip: text;
    
}



.card-main-down{
    margin-top: 10px;
    margin-bottom: 20px;
}




.card-form-comment{
    background-color: white;
    padding: 5px 0px;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}



#card-input-comment{
appearance: none;
border-color: none;
border: 0px;
text-indent: 5px;


    &:focus{
        border: none;
        border-color: none;
        appearance: none;
        outline: none;
    }
}

.card-input-comments-btn-send{ 
cursor: pointer;  
padding-right: 10px;
font-size: 1.3em;
}


.comment-lenght-info{
    padding-top: 5px;
    margin-left: 5px;
}



.card-comments-container{
    margin-top: 15px;
    text-align: right;
    font-size: 1.4em;
    display: flex;
    justify-content: end;
}



.card-icon-comments{
    cursor: pointer;
    width: fit-content;
    margin-bottom: 10px;
}



//COMMENTS SECTION //////////////////////////////////////////////////////////////////

.comment-text-section{
    height: fit-content;
    width: 100%;
    display: none;

    &.toggleComments{
        display: block;
    }
   
}


.comment-list{
    width: 100%;
   padding-top: 20px;
}



.comment-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(87, 87, 87, 0.123);
    padding: 10px 7px;

    &:nth-child(odd){
        background-color: rgba(189, 186, 186, 0.123);
    }
}

.comment-header-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1em;
    align-items: center;
    padding: 10px 10px;
}

.comment-header-left{
display: flex;
gap: 15px;
}



.comment-first-letter{
border-radius: 50%;
    border: 2px solid rgb(214, 214, 214);
    width: 30px;
    height: 30px;
    @include flex(row,center,center,none);
    color: aliceblue;
    text-transform: uppercase;
}


.comment-username{
@include flex(row,center,center,none);
color: rgb(255, 255, 255);
text-transform: capitalize;
}



.comment-blockBtn{
    font-size: 1.4em;
    cursor: pointer;
    opacity: 0.5;
    

        &.toggleLockBtn{
            opacity: 1;
            box-shadow: 0 0 10px $lock_card-color, inset 0 0 100px rgb(19, 19, 17);
        }
}



.comment-body-section{
margin: auto;
color: rgba(219, 218, 218, 0.884);
text-align: center;
width: 100%;
padding: 2px;
@include flex(row,center,center,none);

}





